
.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.arrow {
  font-size: 30px;
}

.slider-one {
  display: flex;
  width: 1125px;
  overflow: hidden;
  margin: 0 10px;
  &__list {
    display: flex;
    position: relative;
    color: #444;
    font-size: 30px;
    will-change: right;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 375px;
    height: 250px;
  }
}





  
  
  